<a href="https://colab.research.google.com/github/mariajuliawegelin/TCC/blob/main/TCC_MariaJulia_TratamentoDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Trabalho de Conclusão de Curso**
##Pós graduação em Ciência de Dados aplicada a Políticas Públicas
###Maria Júlia Castro Wegelin

**Tratamento das bases de dados**

## 1 - Carregar os dados e bibliotecas de código

In [128]:
#Importar bibliotecas de código:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [129]:
#Bases extraídas do SNIS em 6/7/2022

# Informações sobre acesso a água e esgotamento sanitário:

df = pd.read_csv('https://raw.githubusercontent.com/mariajuliawegelin/TCC/main/Desagregado_Informacoes_Agua_Esgoto.csv', decimal=',', sep=';', encoding= 'latin-1')
df.head(5)
df = df[:-1]

df.columns = df.columns.str.replace(' ', '') 

df.tail(5)

,CódigodoMunicípio,Município,Estado,AnodeReferência,CódigodoPrestador,Prestador,SigladoPrestador,Abrangência,Tipodeserviço,Naturezajurídica,POP_TOTAL,POP_TOTAL_AGUA,VOL_AGUA_CONSUMIDO,CONSUMO-EM_ELETRICA_SIST_AGUA,POP_TOTAL_ESGOTO,VOLUME_ES_COLETADO,VOLUME_ES_TRATADO,CONSUMO-EM_ELETRICA_SIST_ES,DURACAO_MEDIA_PARALISACOES,INDICE_CONFORMIDADE_AMOSTRAS
55647,172210,Xambioá,TO,2016,17210000,Companhia de Saneamento do Tocantins,SANEATINS,Regional,Água,Empresa privada,11695.0,11501.0,450.53,373.04,NaN,NaN,NaN,NaN,4.60,100.00
55648,172210,Xambioá,TO,2015,17210000,Companhia de Saneamento do Tocantins,SANEATINS,Regional,Água,Empresa privada,11709.0,11501.0,439.87,323.45,NaN,NaN,NaN,NaN,13.50,100.00
55649,172210,Xambioá,TO,2014,17210000,Companhia de Saneamento do Tocantins,SANEATINS,Regional,Água,Empresa privada,11722.0,9999.0,460.69,311.50,NaN,NaN,NaN,NaN,NaN,100.00
55650,172210,Xambioá,TO,2013,17210000,Companhia de Saneamento do Tocantins,SANEATINS,Regional,Água,Empresa privada,11736.0,9716.0,435.79,370.96,NaN,NaN,NaN,NaN,NaN,100.00
55651,172210,Xambioá,TO,2012,17210000,Companhia de Saneamento do Tocantins,SANEATINS,Regional,Água,Empresa privada,11458.0,8579.0,422.26,346.22,NaN,NaN,NaN,NaN,70.45,96.62

In [130]:
#Acrescentar Região
def determina_regiao(Estado):
    if Estado in ("DF" , "MS" , "MT" , "GO"):
        return "CO"
    if Estado in ( "AC", 'AP' , "RO" , "PA",'AM','TO','RR'):
        return "N"
    if Estado in ('AL', "BA" , 'CE', "MA" , "PB",'PE' , "PI" , "RN", "SE"):
        return "NE"
    if Estado in ( "RS" , "PR" , "SC"):
        return "S"
    if Estado in ( "SP" , "ES" , "MG" , "RJ"):
        return "SE"

df["REGIAO"] = df.Estado.map(determina_regiao)

In [131]:
# Calcular o % com acesso a AG e ES:

df['PERCENT_AG'] = df['POP_TOTAL_AGUA']/df['POP_TOTAL']
df['PERCENT_ES'] = df['POP_TOTAL_ESGOTO']/df['POP_TOTAL']

In [132]:
# Retirar colunas que não serão objeto de análise:

df = df.drop(columns=['CódigodoPrestador','Prestador', 'SigladoPrestador', 'VOL_AGUA_CONSUMIDO', 'CONSUMO-EM_ELETRICA_SIST_AGUA', 'VOLUME_ES_COLETADO', 'VOLUME_ES_TRATADO', 'CONSUMO-EM_ELETRICA_SIST_ES' ])

In [133]:
# Calcular o incremento anual de acesso a AG e ES entre 2011 e 2020:

df = df.sort_values(['CódigodoMunicípio', 'AnodeReferência'])

# Calcular o crescimento anual:
df['DIFF_AG_YoY'] = df['PERCENT_AG'].diff()
df['DIFF_ES_YoY'] = df['PERCENT_ES'].diff()

df.head()

,CódigodoMunicípio,Município,Estado,AnodeReferência,Abrangência,Tipodeserviço,Naturezajurídica,POP_TOTAL,POP_TOTAL_AGUA,POP_TOTAL_ESGOTO,DURACAO_MEDIA_PARALISACOES,INDICE_CONFORMIDADE_AMOSTRAS,REGIAO,PERCENT_AG,PERCENT_ES,DIFF_AG_YoY,DIFF_ES_YoY
38867,110001,Alta Floresta D Oeste,RO,2011,Local,Água,Autarquia,24228.0,9286.0,NaN,7.33,100.0,N,0.383276,NaN,NaN,NaN
38866,110001,Alta Floresta D Oeste,RO,2012,Local,Água,Autarquia,24069.0,9982.0,NaN,8.28,100.0,N,0.414724,NaN,0.031449,NaN
38865,110001,Alta Floresta D Oeste,RO,2013,Local,Água,Autarquia,25728.0,9982.0,NaN,13.87,100.0,N,0.387982,NaN,-0.026742,NaN
38864,110001,Alta Floresta D Oeste,RO,2014,Local,Água,Autarquia,25652.0,9982.0,NaN,11.53,100.0,N,0.389131,NaN,0.001149,NaN
38863,110001,Alta Floresta D Oeste,RO,2015,Local,Água,Autarquia,25578.0,10359.0,NaN,12.06,100.0,N,0.404996,NaN,0.015865,NaN

In [134]:
# Informações sobre investimento em água e esgotamento sanitário:

df_investimentos= pd.read_csv('https://raw.githubusercontent.com/mariajuliawegelin/TCC/main/Desagregado_Informacoes_Financeiras.csv', decimal=',', sep=';', encoding= 'latin-1')
df_investimentos = df_investimentos[:-1]
df_investimentos.columns = df_investimentos.columns.str.replace(' ', '') 

# Retirar colunas que não serão objeto de análise:

df_investimentos = df_investimentos.drop(columns=['CódigodoPrestador','Prestador', 'SigladoPrestador' ])

df_investimentos.head()

,CódigodoMunicípio,Município,Estado,AnodeReferência,Abrangência,Tipodeserviço,Naturezajurídica,INVESTIMENTO_AGUA_PRESTADOR,INVESTIMENTO_ES_PRESTADOR,OUTROS_INVESTIMENTOS_PRESTADOR,...,INVESTIMENTOS_REC_ONEROSOS_MUNICIPIOS,INVESTIMENTOS_REC_NAO_ONEROSOS_MUNICIPIOS,INVESTIMENTOS_TOTAIS_MUNICIPIOS,INVESTIMENTO_AGUA_ESTADO,INVESTIMENTO_ES_ESTADO,OUTROS_INVESTIMENTOS_ESTADO,INVESTIMENTOS_REC_PROPRIOS_ESTADO,INVESTIMENTOS_REC_ONEROSOS_ESTADO,INVESTIMENTOS_REC_NAO_ONEROSOS_ESTADO,INVESTIMENTOS_TOTAIS_ESTADO
0,120001,Acrelândia,AC,2020,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,0.0,0.0,406335.38,0.0,0.0,0.0,0.00,406335.38,406335.38
1,120001,Acrelândia,AC,2019,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,0.0,0.0,175307.55,0.0,0.0,0.0,0.00,175307.55,175307.55
2,120001,Acrelândia,AC,2018,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,0.0,0.0,2222246.97,0.0,0.0,0.0,48054.28,2174192.69,2222246.97
3,120001,Acrelândia,AC,2017,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,0.0,0.0,1647470.28,0.0,232000.0,0.0,0.00,1879470.28,1879470.28
4,120001,Acrelândia,AC,2016,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,0.0,0.0,540459.00,0.0,0.0,0.0,40047.21,500411.79,540459.00

In [135]:
# Carregar base do IGPM acumulado até 2020 ano a ano:

df_igpm = pd.read_csv('https://raw.githubusercontent.com/mariajuliawegelin/TCC/main/IGPM%20-%20IPEA%20DATA.csv', decimal=',', sep=';', encoding= 'utf-8')
df_igpm

    Ano  igpm_acumulado
0  2011        1.975180
1  2012        1.831954
2  2013        1.736274
3  2014        1.674554
4  2015        1.514897
5  2016        1.413507
6  2017        1.420909
7  2018        1.321323
8  2019        1.231384
9  2020        1.000000

In [136]:
#Incluir IGP-M acumulado até 2020 na base df_investimentos:

df_investimentos = df_investimentos.merge(df_igpm, left_on = "AnodeReferência", right_on = "Ano", how = "left")
df_investimentos.head()

,CódigodoMunicípio,Município,Estado,AnodeReferência,Abrangência,Tipodeserviço,Naturezajurídica,INVESTIMENTO_AGUA_PRESTADOR,INVESTIMENTO_ES_PRESTADOR,OUTROS_INVESTIMENTOS_PRESTADOR,...,INVESTIMENTOS_TOTAIS_MUNICIPIOS,INVESTIMENTO_AGUA_ESTADO,INVESTIMENTO_ES_ESTADO,OUTROS_INVESTIMENTOS_ESTADO,INVESTIMENTOS_REC_PROPRIOS_ESTADO,INVESTIMENTOS_REC_ONEROSOS_ESTADO,INVESTIMENTOS_REC_NAO_ONEROSOS_ESTADO,INVESTIMENTOS_TOTAIS_ESTADO,Ano,igpm_acumulado
0,120001,Acrelândia,AC,2020,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,406335.38,0.0,0.0,0.0,0.00,406335.38,406335.38,2020,1.000000
1,120001,Acrelândia,AC,2019,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,175307.55,0.0,0.0,0.0,0.00,175307.55,175307.55,2019,1.231384
2,120001,Acrelândia,AC,2018,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,2222246.97,0.0,0.0,0.0,48054.28,2174192.69,2222246.97,2018,1.321323
3,120001,Acrelândia,AC,2017,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,1647470.28,0.0,232000.0,0.0,0.00,1879470.28,1879470.28,2017,1.420909
4,120001,Acrelândia,AC,2016,Regional,Água,Autarquia,0.0,0.0,0.0,...,0.0,540459.00,0.0,0.0,0.0,40047.21,500411.79,540459.00,2016,1.413507

In [137]:
df_investimentos = df_investimentos.drop(['Ano'], axis=1)

In [138]:
# Calcular o investimento total no município:

df_investimentos['INVESTIMENTO_TOTAL'] = df_investimentos['INVESTIMENTOS_TOTAIS_PRESTADOR']+df_investimentos['INVESTIMENTOS_TOTAIS_MUNICIPIOS']+df_investimentos['INVESTIMENTOS_TOTAIS_ESTADO']
df_investimentos['INVESTIMENTO_TOTAL_AG'] = df_investimentos['INVESTIMENTO_AGUA_PRESTADOR']+df_investimentos['INVESTIMENTO_AGUA_MUNICIPIOS']+df_investimentos['INVESTIMENTO_AGUA_ESTADO']
df_investimentos['INVESTIMENTO_TOTAL_ES'] = df_investimentos['INVESTIMENTO_ES_PRESTADOR']+df_investimentos['INVESTIMENTO_ES_MUNICIPIOS']+df_investimentos['INVESTIMENTO_ES_ESTADO']


# Atualizar o valor do investimento total pelo IGP-M até 2020:

df_investimentos['INVESTIMENTO_TOTAL_ATUAL2020'] = df_investimentos['INVESTIMENTO_TOTAL']*df_investimentos['igpm_acumulado']
df_investimentos['INVESTIMENTO_TOTAL_AG_ATUAL2020'] = df_investimentos['INVESTIMENTO_TOTAL_AG']*df_investimentos['igpm_acumulado']
df_investimentos['INVESTIMENTO_TOTAL_ES_ATUAL2020'] = df_investimentos['INVESTIMENTO_TOTAL_ES']*df_investimentos['igpm_acumulado']

In [139]:
#Juntar os dois dataframes:

df_2 = df.merge(df_investimentos, on = ["CódigodoMunicípio", "Município", "Estado", "AnodeReferência", "Abrangência", "Tipodeserviço", "Naturezajurídica" ], how = "outer")
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55658 entries, 0 to 55657
Data columns (total 45 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   CódigodoMunicípio                          55658 non-null  int64
 1   Município                                  55658 non-null  object
 2   Estado                                     55658 non-null  object
 3   AnodeReferência                            55658 non-null  int64
 4   Abrangência                                55658 non-null  object
 5   Tipodeserviço                              55658 non-null  object
 6   Naturezajurídica                           55658 non-null  object
 7   POP_TOTAL                                  55658 non-null  float64
 8   POP_TOTAL_AGUA                             51714 non-null  float64
 9   POP_TOTAL_ESGOTO                           24114 non-null  float64
 10  DURACAO_MEDIA_PARALISACOES                 22528 non-null  float64
 11  INDICE_CONFORMIDADE_AMOSTRAS               51519 non-null  float64
 12  REGIAO                                     55658 non-null  object
 13  PERCENT_AG                                 51714 non-null  float64
 14  PERCENT_ES                                 24114 non-null  float64
 15  DIFF_AG_YoY                                48413 non-null  float64
 16  DIFF_ES_YoY                                19709 non-null  float64
 17  INVESTIMENTO_AGUA_PRESTADOR                45237 non-null  float64
 18  INVESTIMENTO_ES_PRESTADOR                  44820 non-null  float64
 19  OUTROS_INVESTIMENTOS_PRESTADOR             44613 non-null  float64
 20  INVESTIMENTOS_REC_PROPRIOS_PRESTADOR       39674 non-null  float64
 21  INVESTIMENTOS_REC_ONEROSOS_PRESTADOR       38397 non-null  float64
 22  INVESTIMENTOS_REC_NAO_ONEROSOS_PRESTADOR   39186 non-null  float64
 23  INVESTIMENTOS_TOTAIS_PRESTADOR             44814 non-null  float64
 24  INVESTIMENTO_AGUA_MUNICIPIOS               36790 non-null  float64
 25  INVESTIMENTO_ES_MUNICIPIOS                 36758 non-null  float64
 26  OUTROS_INVESTIMENTOS_MUNICIPIOS            36763 non-null  float64
 27  INVESTIMENTOS_REC_PROPRIOS_MUNICIPIOS      34970 non-null  float64
 28  INVESTIMENTOS_REC_ONEROSOS_MUNICIPIOS      34724 non-null  float64
 29  INVESTIMENTOS_REC_NAO_ONEROSOS_MUNICIPIOS  34820 non-null  float64
 30  INVESTIMENTOS_TOTAIS_MUNICIPIOS            36765 non-null  float64
 31  INVESTIMENTO_AGUA_ESTADO                   39929 non-null  float64
 32  INVESTIMENTO_ES_ESTADO                     39781 non-null  float64
 33  OUTROS_INVESTIMENTOS_ESTADO                39994 non-null  float64
 34  INVESTIMENTOS_REC_PROPRIOS_ESTADO          39608 non-null  float64
 35  INVESTIMENTOS_REC_ONEROSOS_ESTADO          39600 non-null  float64
 36  INVESTIMENTOS_REC_NAO_ONEROSOS_ESTADO      39852 non-null  float64
 37  INVESTIMENTOS_TOTAIS_ESTADO                39723 non-null  float64
 38  igpm_acumulado                             55658 non-null  float64
 39  INVESTIMENTO_TOTAL                         25366 non-null  float64
 40  INVESTIMENTO_TOTAL_AG                      25425 non-null  float64
 41  INVESTIMENTO_TOTAL_ES                      25330 non-null  float64
 42  INVESTIMENTO_TOTAL_ATUAL2020               25366 non-null  float64
 43  INVESTIMENTO_TOTAL_AG_ATUAL2020            25425 non-null  float64
 44  INVESTIMENTO_TOTAL_ES_ATUAL2020            25330 non-null  float64
dtypes: float64(37), int64(2), object(6)
memory usage: 19.5+ MB

In [140]:
# Calcular o investimento per capita atualizado até 2020:

df_2['INVESTIMENTO_TOTAL_ATUAL2020_PCP'] = df_2['INVESTIMENTO_TOTAL_ATUAL2020']/df_2['POP_TOTAL']
df_2['INVESTIMENTO_TOTAL_AG_ATUAL2020_PCP'] = df_2['INVESTIMENTO_TOTAL_AG_ATUAL2020']/df_2['POP_TOTAL']
df_2['INVESTIMENTO_TOTAL_ES_ATUAL2020_PCP'] = df_2['INVESTIMENTO_TOTAL_ES_ATUAL2020']/df_2['POP_TOTAL']

In [141]:
# Carregar base contendo o idh dos municípios (só tem 2010, como ainda não houve o censo de 2020, ainda não há informações para comparar):

df_idh = pd.read_csv('https://raw.githubusercontent.com/mariajuliawegelin/TCC/main/municipios_ibge_idhm_2010.csv', decimal=',', sep=';', encoding= 'latin-1')

# Carregar base contendo o idh dos municípios (só tem 2010, como ainda não houve o censo de 2020, ainda não há informações para comparar):

df_idh_2010 = df_idh[['COD_IBGE','LAT', 'LNG', 'ALT','IDHM', 'IDHM_RENDA', 'IDHM_EDUCACAO',	'IDHM_LONGEVIDADE' ]]

df_idh_2010.head(5)

,COD_IBGE,LAT,LNG,ALT,IDHM,IDHM_RENDA,IDHM_EDUCACAO,IDHM_LONGEVIDADE
0,110001,-119.355.403,-619.998.239,3.377.357.190.000,0.641,0.763,0.526,0.657
1,110002,-9.908.462.867,-6.303.326.928,1.386.889.810.000,0.702,0.806,0.600,0.716
2,110003,-1.349.976.346,-6.054.431.358,2.360.631.600.000,0.650,0.757,0.559,0.650
3,110004,-1.143.386.503,-6.144.294.421,1.774.535.470.000,0.718,0.821,0.620,0.727
4,110005,-1.319.503.303,-6.081.842.616,2.628.113.070.000,0.692,0.799,0.602,0.688

In [142]:
# Calcular o incremento em AG e ES em 10 anos:

anos=[2011,2020]
df_2011_2020 = df_2[df_2.AnodeReferência.isin(anos)]
df_2011_2020 = df_2011_2020.sort_values(['CódigodoMunicípio', 'AnodeReferência'])


# Calcular o YoY growth
df_2011_2020['DIF_AG_2011_2020'] = df_2011_2020['PERCENT_AG'].diff()
df_2011_2020['DIF_ES_2011_2020'] = df_2011_2020['PERCENT_ES'].diff()

ano=[2020]

df_10_anos = df_2011_2020[df_2011_2020.AnodeReferência.isin(ano)]

df_10_anos.head()

,CódigodoMunicípio,Município,Estado,AnodeReferência,Abrangência,Tipodeserviço,Naturezajurídica,POP_TOTAL,POP_TOTAL_AGUA,POP_TOTAL_ESGOTO,...,INVESTIMENTO_TOTAL_AG,INVESTIMENTO_TOTAL_ES,INVESTIMENTO_TOTAL_ATUAL2020,INVESTIMENTO_TOTAL_AG_ATUAL2020,INVESTIMENTO_TOTAL_ES_ATUAL2020,INVESTIMENTO_TOTAL_ATUAL2020_PCP,INVESTIMENTO_TOTAL_AG_ATUAL2020_PCP,INVESTIMENTO_TOTAL_ES_ATUAL2020_PCP,DIF_AG_2011_2020,DIF_ES_2011_2020
9,110001,Alta Floresta D Oeste,RO,2020,Local,Água,Autarquia,22728.0,10716.0,NaN,...,3923.58,0.00,13898.24,3923.58,0.00,0.611503,0.172632,0.000000,0.088213,NaN
21,110002,Ariquemes,RO,2020,Local,Água e Esgoto,Empresa privada,109523.0,92761.0,2280.0,...,5589892.70,56159.19,6336555.29,5589892.70,56159.19,57.855932,51.038528,0.512762,0.490036,NaN
31,110003,Cabixi,RO,2020,Regional,Água,Sociedade de economia mista com administração ...,5188.0,2332.0,NaN,...,0.00,0.00,9453.62,0.00,0.00,1.822209,0.000000,0.000000,0.202272,NaN
41,110004,Cacoal,RO,2020,Local,Água e Esgoto,Autarquia,85893.0,67689.0,46252.0,...,148769.49,4279910.45,4501420.77,148769.49,4279910.45,52.407306,1.732033,49.828396,0.000007,0.076219
52,110005,Cerejeiras,RO,2020,Local,Esgotos,Administração pública direta,16204.0,NaN,13821.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
# Calcular o valor total dos investimentos em AG e ES em 10 anos (2011 a 2020):

df_investimentos_acumulado = df_investimentos.drop(['Município', 'Estado', 'AnodeReferência','Abrangência','Tipodeserviço','Naturezajurídica'], axis=1)
df_investimentos_acumulado = df_investimentos_acumulado.groupby(['CódigodoMunicípio']).sum()
df_investimentos_acumulado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5491 entries, 110001 to 530010
Data columns (total 28 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   INVESTIMENTO_AGUA_PRESTADOR                5491 non-null   float64
 1   INVESTIMENTO_ES_PRESTADOR                  5491 non-null   float64
 2   OUTROS_INVESTIMENTOS_PRESTADOR             5491 non-null   float64
 3   INVESTIMENTOS_REC_PROPRIOS_PRESTADOR       5491 non-null   float64
 4   INVESTIMENTOS_REC_ONEROSOS_PRESTADOR       5491 non-null   float64
 5   INVESTIMENTOS_REC_NAO_ONEROSOS_PRESTADOR   5491 non-null   float64
 6   INVESTIMENTOS_TOTAIS_PRESTADOR             5491 non-null   float64
 7   INVESTIMENTO_AGUA_MUNICIPIOS               5491 non-null   float64
 8   INVESTIMENTO_ES_MUNICIPIOS                 5491 non-null   float64
 9   OUTROS_INVESTIMENTOS_MUNICIPIOS            5491 non-null   float64
 10  INVESTIMENTOS_REC_PROPRIOS_MUNICIPIOS      5491 non-null   float64
 11  INVESTIMENTOS_REC_ONEROSOS_MUNICIPIOS      5491 non-null   float64
 12  INVESTIMENTOS_REC_NAO_ONEROSOS_MUNICIPIOS  5491 non-null   float64
 13  INVESTIMENTOS_TOTAIS_MUNICIPIOS            5491 non-null   float64
 14  INVESTIMENTO_AGUA_ESTADO                   5491 non-null   float64
 15  INVESTIMENTO_ES_ESTADO                     5491 non-null   float64
 16  OUTROS_INVESTIMENTOS_ESTADO                5491 non-null   float64
 17  INVESTIMENTOS_REC_PROPRIOS_ESTADO          5491 non-null   float64
 18  INVESTIMENTOS_REC_ONEROSOS_ESTADO          5491 non-null   float64
 19  INVESTIMENTOS_REC_NAO_ONEROSOS_ESTADO      5491 non-null   float64
 20  INVESTIMENTOS_TOTAIS_ESTADO                5491 non-null   float64
 21  igpm_acumulado                             5491 non-null   float64
 22  INVESTIMENTO_TOTAL                         5491 non-null   float64
 23  INVESTIMENTO_TOTAL_AG                      5491 non-null   float64
 24  INVESTIMENTO_TOTAL_ES                      5491 non-null   float64
 25  INVESTIMENTO_TOTAL_ATUAL2020               5491 non-null   float64
 26  INVESTIMENTO_TOTAL_AG_ATUAL2020            5491 non-null   float64
 27  INVESTIMENTO_TOTAL_ES_ATUAL2020            5491 non-null   float64
dtypes: float64(28)
memory usage: 1.2 MB

In [144]:
# Juntar os dois df do acumulado de 10 anos:

df_10_anos = df_10_anos.merge(df_investimentos_acumulado, on = "CódigodoMunicípio", how = "left")
df_10_anos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5997 entries, 0 to 5996
Data columns (total 78 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   CódigodoMunicípio                            5997 non-null   int64
 1   Município                                    5997 non-null   object
 2   Estado                                       5997 non-null   object
 3   AnodeReferência                              5997 non-null   int64
 4   Abrangência                                  5997 non-null   object
 5   Tipodeserviço                                5997 non-null   object
 6   Naturezajurídica                             5997 non-null   object
 7   POP_TOTAL                                    5997 non-null   float64
 8   POP_TOTAL_AGUA                               5411 non-null   float64
 9   POP_TOTAL_ESGOTO                             2838 non-null   float64
 10  DURACAO_MEDIA_PARALISACOES                   2813 non-null   float64
 11  INDICE_CONFORMIDADE_AMOSTRAS                 5396 non-null   float64
 12  REGIAO                                       5997 non-null   object
 13  PERCENT_AG                                   5411 non-null   float64
 14  PERCENT_ES                                   2838 non-null   float64
 15  DIFF_AG_YoY                                  4986 non-null   float64
 16  DIFF_ES_YoY                                  2264 non-null   float64
 17  INVESTIMENTO_AGUA_PRESTADOR_x                4697 non-null   float64
 18  INVESTIMENTO_ES_PRESTADOR_x                  4683 non-null   float64
 19  OUTROS_INVESTIMENTOS_PRESTADOR_x             4682 non-null   float64
 20  INVESTIMENTOS_REC_PROPRIOS_PRESTADOR_x       4219 non-null   float64
 21  INVESTIMENTOS_REC_ONEROSOS_PRESTADOR_x       3961 non-null   float64
 22  INVESTIMENTOS_REC_NAO_ONEROSOS_PRESTADOR_x   4167 non-null   float64
 23  INVESTIMENTOS_TOTAIS_PRESTADOR_x             4683 non-null   float64
 24  INVESTIMENTO_AGUA_MUNICIPIOS_x               4617 non-null   float64
 25  INVESTIMENTO_ES_MUNICIPIOS_x                 4613 non-null   float64
 26  OUTROS_INVESTIMENTOS_MUNICIPIOS_x            4611 non-null   float64
 27  INVESTIMENTOS_REC_PROPRIOS_MUNICIPIOS_x      4365 non-null   float64
 28  INVESTIMENTOS_REC_ONEROSOS_MUNICIPIOS_x      4342 non-null   float64
 29  INVESTIMENTOS_REC_NAO_ONEROSOS_MUNICIPIOS_x  4306 non-null   float64
 30  INVESTIMENTOS_TOTAIS_MUNICIPIOS_x            4612 non-null   float64
 31  INVESTIMENTO_AGUA_ESTADO_x                   4587 non-null   float64
 32  INVESTIMENTO_ES_ESTADO_x                     4594 non-null   float64
 33  OUTROS_INVESTIMENTOS_ESTADO_x                4540 non-null   float64
 34  INVESTIMENTOS_REC_PROPRIOS_ESTADO_x          4553 non-null   float64
 35  INVESTIMENTOS_REC_ONEROSOS_ESTADO_x          4522 non-null   float64
 36  INVESTIMENTOS_REC_NAO_ONEROSOS_ESTADO_x      4537 non-null   float64
 37  INVESTIMENTOS_TOTAIS_ESTADO_x                4536 non-null   float64
 38  igpm_acumulado_x                             5997 non-null   float64
 39  INVESTIMENTO_TOTAL_x                         3287 non-null   float64
 40  INVESTIMENTO_TOTAL_AG_x                      3292 non-null   float64
 41  INVESTIMENTO_TOTAL_ES_x                      3289 non-null   float64
 42  INVESTIMENTO_TOTAL_ATUAL2020_x               3287 non-null   float64
 43  INVESTIMENTO_TOTAL_AG_ATUAL2020_x            3292 non-null   float64
 44  INVESTIMENTO_TOTAL_ES_ATUAL2020_x            3289 non-null   float64
 45  INVESTIMENTO_TOTAL_ATUAL2020_PCP             3287 non-null   float64
 46  INVESTIMENTO_TOTAL_AG_ATUAL2020_PCP          3292 non-null   float64
 47  INVESTIMENTO_TOTAL_ES_ATUAL2020_PCP          3289 non-null   float64
 48  DIF_AG_2011_2020                             5034 non-null   float64
 49  DIF_ES_2011_2020                             1867 non-null   float64
 50  INVESTIMENTO_AGUA_PRESTADOR_y                5997 non-null   float64
 51  INVESTIMENTO_ES_PRESTADOR_y                  5997 non-null   float64
 52  OUTROS_INVESTIMENTOS_PRESTADOR_y             5997 non-null   float64
 53  INVESTIMENTOS_REC_PROPRIOS_PRESTADOR_y       5997 non-null   float64
 54  INVESTIMENTOS_REC_ONEROSOS_PRESTADOR_y       5997 non-null   float64
 55  INVESTIMENTOS_REC_NAO_ONEROSOS_PRESTADOR_y   5997 non-null   float64
 56  INVESTIMENTOS_TOTAIS_PRESTADOR_y             5997 non-null   float64
 57  INVESTIMENTO_AGUA_MUNICIPIOS_y               5997 non-null   float64
 58  INVESTIMENTO_ES_MUNICIPIOS_y                 5997 non-null   float64
 59  OUTROS_INVESTIMENTOS_MUNICIPIOS_y            5997 non-null   float64
 60  INVESTIMENTOS_REC_PROPRIOS_MUNICIPIOS_y      5997 non-null   float64
 61  INVESTIMENTOS_REC_ONEROSOS_MUNICIPIOS_y      5997 non-null   float64
 62  INVESTIMENTOS_REC_NAO_ONEROSOS_MUNICIPIOS_y  5997 non-null   float64
 63  INVESTIMENTOS_TOTAIS_MUNICIPIOS_y            5997 non-null   float64
 64  INVESTIMENTO_AGUA_ESTADO_y                   5997 non-null   float64
 65  INVESTIMENTO_ES_ESTADO_y                     5997 non-null   float64
 66  OUTROS_INVESTIMENTOS_ESTADO_y                5997 non-null   float64
 67  INVESTIMENTOS_REC_PROPRIOS_ESTADO_y          5997 non-null   float64
 68  INVESTIMENTOS_REC_ONEROSOS_ESTADO_y          5997 non-null   float64
 69  INVESTIMENTOS_REC_NAO_ONEROSOS_ESTADO_y      5997 non-null   float64
 70  INVESTIMENTOS_TOTAIS_ESTADO_y                5997 non-null   float64
 71  igpm_acumulado_y                             5997 non-null   float64
 72  INVESTIMENTO_TOTAL_y                         5997 non-null   float64
 73  INVESTIMENTO_TOTAL_AG_y                      5997 non-null   float64
 74  INVESTIMENTO_TOTAL_ES_y                      5997 non-null   float64
 75  INVESTIMENTO_TOTAL_ATUAL2020_y               5997 non-null   float64
 76  INVESTIMENTO_TOTAL_AG_ATUAL2020_y            5997 non-null   float64
 77  INVESTIMENTO_TOTAL_ES_ATUAL2020_y            5997 non-null   float64
dtypes: float64(70), int64(2), object(6)
memory usage: 3.6+ MB

In [145]:
# Selecionar as variáveis para análise do acumulado de 10 anos:

df_10_anos_selec = df_10_anos[['CódigodoMunicípio', 'Município', 'Estado', 'AnodeReferência', 'Tipodeserviço', 'Naturezajurídica', 'POP_TOTAL', 'POP_TOTAL_ESGOTO', 'POP_TOTAL_AGUA', 'REGIAO', 'DIF_AG_2011_2020', 'DIF_ES_2011_2020', 'INVESTIMENTO_TOTAL_ATUAL2020_y', 'INVESTIMENTO_TOTAL_AG_ATUAL2020_y', 'INVESTIMENTO_TOTAL_ES_ATUAL2020_y', 'INVESTIMENTO_TOTAL_ATUAL2020_PCP', 'INVESTIMENTO_TOTAL_AG_ATUAL2020_PCP', 'INVESTIMENTO_TOTAL_ES_ATUAL2020_PCP' ]]

df_10_anos_selec.head()

,CódigodoMunicípio,Município,Estado,AnodeReferência,Tipodeserviço,Naturezajurídica,POP_TOTAL,POP_TOTAL_ESGOTO,POP_TOTAL_AGUA,REGIAO,DIF_AG_2011_2020,DIF_ES_2011_2020,INVESTIMENTO_TOTAL_ATUAL2020_y,INVESTIMENTO_TOTAL_AG_ATUAL2020_y,INVESTIMENTO_TOTAL_ES_ATUAL2020_y,INVESTIMENTO_TOTAL_ATUAL2020_PCP,INVESTIMENTO_TOTAL_AG_ATUAL2020_PCP,INVESTIMENTO_TOTAL_ES_ATUAL2020_PCP
0,110001,Alta Floresta D Oeste,RO,2020,Água,Autarquia,22728.0,NaN,10716.0,N,0.088213,NaN,2.097274e+05,1.615922e+05,0.000000e+00,0.611503,0.172632,0.000000
1,110002,Ariquemes,RO,2020,Água e Esgoto,Empresa privada,109523.0,2280.0,92761.0,N,0.490036,NaN,7.290132e+07,6.038826e+07,6.761810e+06,57.855932,51.038528,0.512762
2,110003,Cabixi,RO,2020,Água,Sociedade de economia mista com administração ...,5188.0,NaN,2332.0,N,0.202272,NaN,2.969076e+04,0.000000e+00,0.000000e+00,1.822209,0.000000,0.000000
3,110004,Cacoal,RO,2020,Água e Esgoto,Autarquia,85893.0,46252.0,67689.0,N,0.000007,0.076219,1.502563e+07,1.067298e+07,4.279910e+06,52.407306,1.732033,49.828396
4,110005,Cerejeiras,RO,2020,Esgotos,Administração pública direta,16204.0,13821.0,NaN,N,NaN,NaN,1.707042e+07,0.000000e+00,1.560065e+07,NaN,NaN,NaN

In [146]:
#Renomear variáveis de investimento:

df_10_anos_selec = df_10_anos_selec.rename(columns = {'INVESTIMENTO_TOTAL_ATUAL2020_y':'INV_TOTAL', 'INVESTIMENTO_TOTAL_AG_ATUAL2020_y':'INV_TOTAL_AG', 'INVESTIMENTO_TOTAL_ES_ATUAL2020_y':'INV_TOTAL_ES', 'INVESTIMENTO_TOTAL_ATUAL2020_PCP': 'INV_TOTAL_PCP', 'INVESTIMENTO_TOTAL_AG_ATUAL2020_PCP' : 'INV_TOTAL_AG_PCP', 'INVESTIMENTO_TOTAL_ES_ATUAL2020_PCP': 'INV_TOTAL_ES_PCP' })


df_10_anos_selec.head()

,CódigodoMunicípio,Município,Estado,AnodeReferência,Tipodeserviço,Naturezajurídica,POP_TOTAL,POP_TOTAL_ESGOTO,POP_TOTAL_AGUA,REGIAO,DIF_AG_2011_2020,DIF_ES_2011_2020,INV_TOTAL,INV_TOTAL_AG,INV_TOTAL_ES,INV_TOTAL_PCP,INV_TOTAL_AG_PCP,INV_TOTAL_ES_PCP
0,110001,Alta Floresta D Oeste,RO,2020,Água,Autarquia,22728.0,NaN,10716.0,N,0.088213,NaN,2.097274e+05,1.615922e+05,0.000000e+00,0.611503,0.172632,0.000000
1,110002,Ariquemes,RO,2020,Água e Esgoto,Empresa privada,109523.0,2280.0,92761.0,N,0.490036,NaN,7.290132e+07,6.038826e+07,6.761810e+06,57.855932,51.038528,0.512762
2,110003,Cabixi,RO,2020,Água,Sociedade de economia mista com administração ...,5188.0,NaN,2332.0,N,0.202272,NaN,2.969076e+04,0.000000e+00,0.000000e+00,1.822209,0.000000,0.000000
3,110004,Cacoal,RO,2020,Água e Esgoto,Autarquia,85893.0,46252.0,67689.0,N,0.000007,0.076219,1.502563e+07,1.067298e+07,4.279910e+06,52.407306,1.732033,49.828396
4,110005,Cerejeiras,RO,2020,Esgotos,Administração pública direta,16204.0,13821.0,NaN,N,NaN,NaN,1.707042e+07,0.000000e+00,1.560065e+07,NaN,NaN,NaN

In [147]:
# Incluir LAT, LNG, ALT e IDH2010:

df_3 = df_10_anos_selec.merge(df_idh_2010, left_on = "CódigodoMunicípio", right_on = "COD_IBGE", how = "left")
df_3.head()

,CódigodoMunicípio,Município,Estado,AnodeReferência,Tipodeserviço,Naturezajurídica,POP_TOTAL,POP_TOTAL_ESGOTO,POP_TOTAL_AGUA,REGIAO,...,INV_TOTAL_AG_PCP,INV_TOTAL_ES_PCP,COD_IBGE,LAT,LNG,ALT,IDHM,IDHM_RENDA,IDHM_EDUCACAO,IDHM_LONGEVIDADE
0,110001,Alta Floresta D Oeste,RO,2020,Água,Autarquia,22728.0,NaN,10716.0,N,...,0.172632,0.000000,110001,-119.355.403,-619.998.239,3.377.357.190.000,0.641,0.763,0.526,0.657
1,110002,Ariquemes,RO,2020,Água e Esgoto,Empresa privada,109523.0,2280.0,92761.0,N,...,51.038528,0.512762,110002,-9.908.462.867,-6.303.326.928,1.386.889.810.000,0.702,0.806,0.600,0.716
2,110003,Cabixi,RO,2020,Água,Sociedade de economia mista com administração ...,5188.0,NaN,2332.0,N,...,0.000000,0.000000,110003,-1.349.976.346,-6.054.431.358,2.360.631.600.000,0.650,0.757,0.559,0.650
3,110004,Cacoal,RO,2020,Água e Esgoto,Autarquia,85893.0,46252.0,67689.0,N,...,1.732033,49.828396,110004,-1.143.386.503,-6.144.294.421,1.774.535.470.000,0.718,0.821,0.620,0.727
4,110005,Cerejeiras,RO,2020,Esgotos,Administração pública direta,16204.0,13821.0,NaN,N,...,NaN,NaN,110005,-1.319.503.303,-6.081.842.616,2.628.113.070.000,0.692,0.799,0.602,0.688

In [148]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5997 entries, 0 to 5996
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CódigodoMunicípio  5997 non-null   int64
 1   Município          5997 non-null   object
 2   Estado             5997 non-null   object
 3   AnodeReferência    5997 non-null   int64
 4   Tipodeserviço      5997 non-null   object
 5   Naturezajurídica   5997 non-null   object
 6   POP_TOTAL          5997 non-null   float64
 7   POP_TOTAL_ESGOTO   2838 non-null   float64
 8   POP_TOTAL_AGUA     5411 non-null   float64
 9   REGIAO             5997 non-null   object
 10  DIF_AG_2011_2020   5034 non-null   float64
 11  DIF_ES_2011_2020   1867 non-null   float64
 12  INV_TOTAL          5997 non-null   float64
 13  INV_TOTAL_AG       5997 non-null   float64
 14  INV_TOTAL_ES       5997 non-null   float64
 15  INV_TOTAL_PCP      3287 non-null   float64
 16  INV_TOTAL_AG_PCP   3292 non-null   float64
 17  INV_TOTAL_ES_PCP   3289 non-null   float64
 18  COD_IBGE           5997 non-null   int64
 19  LAT                5997 non-null   object
 20  LNG                5997 non-null   object
 21  ALT                5997 non-null   object
 22  IDHM               5992 non-null   float64
 23  IDHM_RENDA         5992 non-null   float64
 24  IDHM_EDUCACAO      5992 non-null   float64
 25  IDHM_LONGEVIDADE   5992 non-null   float64
dtypes: float64(15), int64(3), object(8)
memory usage: 1.2+ MB

## 2 - Converter para arquivos cvs

In [149]:
# converting to CSV file

df_2.to_csv("df_2.csv", index = False)

df_3.to_csv("df_3.csv", index = False)

## 3 - Exportar para o Google Data Studio

In [ ]:
#exportar os dados para o bigquery
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
import pandas as pd
## Defina o id do seu projeto no bigquery!!!!!
project_id = 'mariajulia-331520' # Defina o id do seu projeto no bigquery!!!!!
## Defina o id do seu projeto no bigquery!!!!!

df = pd.io.gbq.read_gbq('''SELECT * FROM `` LIMIT 100''', project_id=project_id)

df.head()

GenericGBQException: ignored